<!--<h1>Formular</h1>-->

<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">-->
<!--  <div>-->
<!--    <app-input-->
<!--      id="email"-->
<!--      type="email"-->
<!--      label="Email:"-->
<!--      placeholder="Type your email"-->
<!--      [formControl]="email"-->
<!--    ></app-input>-->
<!--&lt;!&ndash;    <label for="email">Email:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="email" type="email" formControlName="email">&ndash;&gt;-->

<!--    <div *ngIf="(email && email.hasError('required')) && (email.touched || email.dirty)" class="form-error">-->
<!--      <div>This field is required</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <br>-->

<!--  <div>-->
<!--    <app-input-->
<!--      id="password"-->
<!--      type="password"-->
<!--      label="Password:"-->
<!--      placeholder="Type your password"-->
<!--      [formControl]="password"-->
<!--    ></app-input>-->
<!--&lt;!&ndash;    <label for="password">Password:</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input id="password" type="password" formControlName="password">&ndash;&gt;-->

<!--    <div *ngIf="(password && password.hasError('required')) && (password.touched || password.dirty)" class="form-error">-->
<!--      <div>This field is required</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <br>-->

<!--  <button type="submit" [disabled]="loginForm.invalid">Submit</button>-->
<!--</form>-->

<!--<app-list [products]="(candies | async) || []"></app-list>-->

<!--<br>-->

<!--<app-list [products]="(pastries | async) || []"></app-list>-->

<!--<app-layout>-->
<!--  <h1>Login page</h1>-->

<!--  <form>-->
<!--    <div class="mb-3">-->
<!--      <label for="exampleInputEmail1" class="form-label">Email address</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">-->
<!--      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="exampleInputPassword1" class="form-label">Password</label>-->
<!--      <input type="password" class="form-control" id="exampleInputPassword1">-->
<!--    </div>-->
<!--    <div class="mb-3 form-check">-->
<!--      <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--      <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--  </form>-->
<!--</app-layout>-->

<div class="container">
<!--  <div>{{notificationMessage | async}}</div>-->
  <div>{{notificationMessage}}</div>
  <router-outlet></router-outlet>
</div>
